<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqv7qyFHOzy0Y4FvSOT_8nop48nRrBuWk</string>
	<key>GCM_SENDER_ID</key>
	<string>599560400739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bitevendor</string>
	<key>PROJECT_ID</key>
	<string>bite-14fd2</string>
	<key>STORAGE_BUCKET</key>
	<string>bite-14fd2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599560400739:ios:90ebe4da11656154ea6d56</string>
</dict>
</plist>